* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8e0e0;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    color: #ff6347;
    margin-top: 50px;
  }
  
  .month-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .month-btn {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .month-btn:hover {
    background-color: #ff4500;
  }
  
  .expense-box {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  form select, form input {
    margin: 5px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  form button:hover {
    background-color: #ff4500;
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  
  h3 {
    margin-top: 10px;
  }

  .edit-btn {
    background-color: #ffda5b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.edit-btn:hover {
    background-color: #f4c542;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.save-btn:hover {
    background-color: #45a049;
}


